venv/
env/
ENV/
.venv/
.ENV/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ipynb_checkpoints/
.idea/
.vscode/
.env
.env.*
venv/
env.bak/
env/
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.history/
*.log
.DS_Store
local_settings.py
.scrapyd.conf
.scrapy
*.egg-info/
twisted/
poetry.lock
__pypackages__/